$colorPrimario: lightblue;

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
//------------HEADER

#navContainer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: $colorPrimario;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    #marca {
        color: white;
        font-size: 2.3rem;
        margin-left: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    .NavBar {
        margin-right: 20px;

        a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            margin-right: 20px;
            padding: 4px;

            &:hover {
                color: rgb(109, 193, 221);
                transition: 0.2s;


            }
        }
    }
}

.container {
    padding-top: 25px;
    justify-content: center;

    #cardContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
        grid-gap: 1rem;
        margin-top: 1rem;

    }

    #cards {
        overflow: hidden;
        border: 2px solid lightblue;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        list-style: none;

        &:hover {
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
            transition: all 0.3s ease-in-out;
        }

        &:hover img {
            transform: scale(1.15)
        }

        img {
            width: 100%;
            height: 100%;
            transition: transform .75s;

        }

        .cardTxt {
            padding-top: 25px;
            text-align: center;
        }


        .confirmar {
            padding: 1rem;
            font-size: 10px;
            border-radius: 10px;
            margin-bottom: 0.5rem;
            width: 100%;
            text-align: center;
            justify-content: center;
            color: #fff;
        }



    }

    #cardDetalle {
        border: 2px solid lightblue;
        border-radius: 10px;
        display: flex;
        width: 35rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 2rem;

        &:hover {
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
            transform: scale(1.03, 1.03);
            transition: all 0.3s ease-in-out;
        }
        
        .imgDetalle{
            width: 200px;
            height: auto;
        }

        .detalleTxt {
            text-align: center;
            padding-top: 20px;
        }
    }

}

.contenedorBtnCount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.btn {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: $colorPrimario;
    border: none;

    &:hover {
        background-color: rgb(109, 193, 221);
        color: #fff;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease-in-out;
    }

    a {
        text-decoration: none;
        color: white;

    }
}

.carritoItemContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));

    


    .carritoTextContainer {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        width: 50%;
    }
    .imgCarrito{
    width: 40% !important;
    }
}



footer {
    
    margin-top: 20px;
    background-color: rgb(206, 203, 203);
    border-top: 3px solid lightblue;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;

    #redes a {
        text-decoration: none;
        justify-self: center;
        padding: 0.5rem;
        color: white;
        font-size: 2rem;
    }
}